body {
    color: #454447;
    font-family: 'Montserrat', serif;
}

a {
    margin: 0px 40px;
    text-decoration: none;
}

a:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
    text-decoration: none;
}

h1 {
    padding: 50px;
    text-align: center;
}

.search, .create {
    background-color: #D9EEEC;
    padding: 50px;
}

.clients {
    width: 95%;
    margin: 30px auto;
}

.centered {
    text-align: center;
}

.col-form-label {
    text-align: right;
}

